LeapMotionWin.sdf
vs64/LeapMotionWin/Debug/Leapd.dll
vs64/LeapMotionWin/Debug/LeapMotionWin.exe
vs64/LeapMotionWin/Debug/LeapMotionWin.ilk
vs64/LeapMotionWin/Debug/LeapMotionWin.pdb
vs64/LeapMotionWin/Debug/msvcp120d.dll
vs64/LeapMotionWin/Debug/msvcr120d.dll
vs64/LeapMotionWin/LeapMotionWin/Debug/Cinder-LeapMotion.obj
vs64/LeapMotionWin/LeapMotionWin/Debug/DataRecorder.obj
vs64/LeapMotionWin/LeapMotionWin/Debug/LeapMotionMain.obj
vs64/LeapMotionWin/LeapMotionWin/Debug/vc120.idb
vs64/LeapMotionWin/LeapMotionWin/Debug/vc120.pdb
vs64/LeapMotionWin/LeapMotionWin/Debug/LeapMotionWin.tlog/cl.command.1.tlog
vs64/LeapMotionWin/LeapMotionWin/Debug/LeapMotionWin.tlog/cl.read.1.tlog
vs64/LeapMotionWin/LeapMotionWin/Debug/LeapMotionWin.tlog/cl.write.1.tlog
vs64/LeapMotionWin/LeapMotionWin/Debug/LeapMotionWin.tlog/link.command.1.tlog
vs64/LeapMotionWin/LeapMotionWin/Debug/LeapMotionWin.tlog/link.read.1.tlog
vs64/LeapMotionWin/LeapMotionWin/Debug/LeapMotionWin.tlog/link.write.1.tlog
LeapMotionWin.opensdf
